<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->

    <main>
        <div class="first">
            <h1>Blogger</h1>
            <p>Welcome to Blogger</p>
            <form action="/" method="post">
                <table class="t1">
                    <%-include('include/_show')%>
                </table>
            </form>
        </div>
    </main>

<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->