<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->

    <main>
        <div class="first">
            <form action="/view-user" method="post">
                <table class="t1">
                    <%-include('include/_show2')%>
                </table>
            </form>
        </div>
    </main>

<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->